<div class="col-md-6 offset-md-3">
    <br><br>

    
    <button (click) = "createUser()" class="btn btn-success">Add User</button>
    <button (click)="goToUserList()" class="btn btn-info" style="margin-left: 5px" >List User</button>

    <br><br>
    <form (ngSubmit) = "onSubmit()">
        <h3> Create User </h3>
    
        <div class="form-group">
            <label>User Name</label>
            <input type="text" class ="form-control" id = "username"
                [(ngModel)] = "user.username" name = "username">
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="text" class ="form-control" id = "email"
                [(ngModel)] = "user.email" name = "email">
        </div>
    
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 